/*Body i jego tło*/
body{
	background-image: url("https://freod.github.io/imgs/tlo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size:cover;
	max-width:100%;
}
.tab-content{
	background-color: #FFF;
}
/*Menu*/
.nav, .nav-tabs{
	background-color: #000;
	height: 68px;
	/*position: fixed;*/
	/*max-width: 100%;*/
	text-align: center;
	/*border-bottom: 4px solid orange;*/
	width: 100%;
	/*z-index: 1;*/
}
/*ol{
	text-align: center;
}*/
ul.nav{
	
}
/*ul{
	width: 100%;
	border-bottom: 1px solid black;
}*/
/*ol > li{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}*/
/*ol > li:nth-child(1){
	width: 150px;
	right: 20%;
}
ol > li:nth-child(2){
	width: 120px;
}
ol > li:nth-child(3){
	left: 16%;
	width: 100px;
}*/
li:hover{
	cursor: pointer;
	color: #FFF;
}
/*ol > li:hover > ul{
	display: block;
}*/

li, li > a{
	color: orange;
	font-size: 13px;
	font-weight: 700;
	line-height: 47px;
	/*margin: 0 .85em;*/
	text-decoration: none;
	padding-top: 2px;
	/*padding-bottom: 2px;*/
	text-transform: uppercase;
	/*transition: color 1s;*/
	/*text-shadow:1px 3px 3px #E47833;*/
	text-decoration: none;
	background-color: #000;
}
/*ul > li{
	border-bottom: 3px solid orange;
}*/
a:hover{
	color: #FFF;
}
/*span.mobilne_kreski{
	display: none;
}*/
/*Ułożenie i wygląd logo*/
img.logo{
	height:	50px;
	width: 50px;
	position: relative;
	top: 8px;
	/*position: fixed;*/
	left:20px;
}
/*Baner*/
div.baner{
	position: relative;
	/*top: 56px;*/
	height: 300px;
	max-width: 100%;
	border: 3px solid silver;
	background: white;
	padding: 5px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px black;
}
.pokaz_slajdow{
	display:none;
	position: relative;
	max-width:100%;
	height: 100%;
	margin: auto;
}
/*Główne pole strony*/
/*div.main{
	position: relative;
	top: 58px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: white;
	border: 4px solid black;
	padding: 12px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px black;
	max-width:100%;
}
div.paragraph{
	position: relative;
	max-width: 100%;
	padding: 4px;
	height:250px;
}*/
img.miniature{
	/*position: absolute;*/
	width:200px;
	height:200px;
	border: 2px solid silver;
	background: white;
	border-radius: 3px;
	box-shadow: 1px 1px 3px black;
}
/*.information{
	position: absolute;
	left: 212px;
	font-family: 'Times New Roman', serif;
	font-size: 1.5vw;
	height: 200px;
	padding: 4px;
	float: left;
}
.information:first-letter{
	font-family: 'Times New Roman', serif;
	font-size: 4vw;
	float: left;
}
.read_more{
	position: absolute;
	bottom: 8px;
	right: 8px;
	color: #CC0000;
	text-decoration: none;
	font-size: 1.5vw;
}*/
/*Formularz*/
/*div.formularz{
	position: relative;
	top: 60px;
	margin-left:10%;
	margin-right:10%;
	text-align: left;
	max-width:100%;
	color: white;
	font-size: 1.5vw;
}*/
/*Stopka*/

/*Formularz*/
/*input{
	font-size: 1.5vw;
	white-space: nowrap;
	color: black;
}
textarea{
	font-size: 1.5vw;
}*/
/*Responsywność (Menu)*/
/*@media(max-width: 1200px){
	ol > li:nth-child(1){
		right: 34%;
	}
	ol > li:nth-child(2){
	}
	ol > li:nth-child(3){
		left: 25%;
	}
}*/
/*Responywność*/
/*@media(max-width: 700px){
	div.komorka_info{
	position: static;
	max-width: 100%;
	}
	img.miniaturka{
		position: static;

	}
	.info{
		position: static;
		height: auto;
	}
	.czytaj_wiecej{
		position: static;
		float: right;
	}
	input{
		width: 100%;
	}
	textarea{
		width: 100%;
	}*/
	/*Responsywność menu (rozsuwane, mobilne)*/
	/*div.menu{
		text-align: right;
	}
	span.mobilne_kreski{
		display: block;
		color: orange;
		font-size: 40px;
		line-height: 48px;
		padding-right: 20px;
	}

	span.mobilne_kreski:hover{
		color: #FFF;
		cursor: pointer;
	}
	div.menu_mobile:hover > ol{
		display: block;
		background: #000;
	}
	ol{
		display: none;
	}
	li{
		border-bottom: 3px solid orange;
	}
	ol > li{
		position: relative;
	}
	ol > li:nth-child(1){
		width: 100%;
		right: 0;
	}
	ol > li:nth-child(2){
		width: 100%;
	}
	ol > li:nth-child(3){
		width: 100%;
		left: 0;

	}
	ol > li:hover > ul{
		display: block;
	}
}*/
.nav-tabs .nav-link.active {
    color: orange;
}
.nav-tabs .nav-item {
    margin-bottom: 0px;
}
footer{
	position: relative;
	/*top: 60px;*/
	background-color: #000;
	text-align: left;
	color: orange;
	font-size: 13px;
	font-weight: 550;
	line-height: 15px;
	padding-top: 2px;
	padding-bottom: 4px;
	border-top: 2px solid orange;
	max-width: 100%;
	padding-left: 20px;
}